* {
    box-sizing: border-box;
    border-radius: 4px;
  }

label, button, h1, h2, h5, p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin-block: 0;
}

.input {
    width: 150px;
}

button {
    border: none;
    background-color: magenta;
    opacity: 0.5;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

button:hover {
    background-color: bisque;
    border: 1px solid magenta;
    color: magenta;
}

li {
    list-style: none;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: end;
}

h5 {
    font-size: small;
    display: flex;
    justify-content: end;
}

.card, h1 {
    border: 1px solid magenta;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin: 10px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

#specialTaxRegimeInput {
    margin: auto 0;
    height: 20px;
    width: 20px;
}

.special {
    display: flex;
    align-items: end;
}
